#container{
    border: solid #253bbd 2px;
    border-radius: 5px;
    width: 190px;
    height: 90px;
    padding: 20px;
    background-color: #6a9cd3;
}
 
img{
    position: absolute;
    width: 230px;
    height: 130px;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    /*border: solid red;*/
}